// Primary
$pastelBlue: hsl(228, 100%, 84%);
$strawberryRed: hsl(354, 84%, 57%);

$primaryButtonBg: hsl(213, 96%, 18%);
$secondaryButtonBg: hsl(243, 100%, 62%);
$tertiaryButtonBg: hsl(206, 94%, 87%);

// Neutral
$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// Typography
// Body Copy
$bodyFontSize: 16px;

// Font
$fontFamily: Ubuntu;
$fontWeightRegular: 400;
$fontWeightMed: 500;
$fontWeightBold: 700;

// Screen Widths
// 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.
$mobileWidth: 375px;
$desktopWidth: 1440px;
